@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');

.breadcrumb{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 8.854vw;
}
@media screen and (max-width: 768px){
    .breadcrumb{
        margin: 16px 5vw;
        font-size: 14px;
    }
}
@media screen and (max-width: 768px){
    .breadcrumb{
        font-size: 12px;
    }
}